.offers {
  width: 65%;
  height: 60vh;
  display: flex;
  margin: auto;
  padding: 0px 140px;
  margin-bottom: 150px;
  background: linear-gradient(180deg, #fde1ff 0%, #e1ffea22 60%);
}
.offers-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.offers-left h2 {
  color: #171717;
  font-size: 20px;
  font-weight: 600;
}
.offers-left p {
  color: #171717;
  font-size: 15px;
  font-weight: 400;
}
.offers-left button {
  width: 182px;
  height: 40px;
  border-radius: 35px;
  background: #ff4141;
  border: none;
  color: white;
  font-size: 12px;
  font-weight: 500;
  margin-top: 30px;
  cursor: pointer;
}
.offers-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  /* padding-top: 50px; */
}
.offers-right img {
  width: 250px;
}

@media (max-width: 768px) {
  .offers {
    width: 80%;
    height: 40vh;
    padding:20px;
    margin-bottom: 50px;
  }
  .offers-right img {
    width: 150px;
  }
  .offers-left button {
    width: 82px;
    height: 20px;
    font-size: 8px;
    font-weight: 100;
    margin-top: 20px;
  }
}
